%h1 Video#show

%p Find me in app/views/video/show.html.haml

= @video.title
= @video.contents

- @video.movies.each do |movie|
    = movie.iframe.html_safe
    = image_tag movie.image_url
    = movie.url
    = movie.supplier
